/* Tombol arah */
div.tombol-arah {
  border: none;
}

div.tombol-arah i.btn {
  color: var(--warna1);
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
}
/* End Tombol Arah */

/* Boostrap Slider */
section.slider .carousel-inner .carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 65vh;
  max-height: 65vh;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

/* Card own-slider 1 */
/* Highlight News */
section.highlight-news .card {
  max-height: 24rem;
}

section.highlight-news .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

section.highlight-news .card .carousel-caption {
  padding-bottom: 0;
  font-size: 1.3rem;
  z-index: 1;
  right: 5%;
  left: 5%;
}

section.highlight-news .card:before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    transparent 40%,
    rgba(0, 0, 0, 0.6)
  );
  display: block;
  position: absolute;
  top: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

section.highlight-news .card .carousel-caption button {
  background-color: var(--warna1);
  font-size: 0.9rem;
  color: var(--warna2);
  font-weight: 700;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

section.highlight-news .card .carousel-caption p {
  color: var(--warna2);
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 2.5rem;
  line-height: normal;
  overflow: hidden;
}


/* notification */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
body {
	font-family: "Roboto", sans-serif;
	background: #f5f5f5;
	min-height: 100vh;
	position: relative;
}

.notification-ui a:after {
	display: none;
}

.notification-ui_icon {
	position: absolute;
  margin-left: 10px;
}
.notification-ui_icon .unread-notification {
	display: inline-block;
	height: 7px;
	width: 7px;
	border-radius: 7px;
	background-color: #66bb6a;
	position: absolute;
	top: 7px;
	left: 12px;
}
@media (min-width: 900px) {
	.notification-ui_icon .unread-notification {
		left: 20px;
	}
}

.notification-ui_dd {
	padding: 0;
	border-radius: 10px;
	box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
	border: 0;
	max-width: 400px;
}
@media (min-width: 900px) {
	.notification-ui_dd {
		min-width: 400px;
		position: absolute;
		left: -192px;
		top: 70px;
	}
}
.notification-ui_dd:after {
	content: "";
	position: absolute;
	top: -30px;
	left: calc(50% - 7px);
	border-top: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #fff;
	border-left: 15px solid transparent;
}
.notification-ui_dd .notification-ui_dd-header {
	border-bottom: 1px solid #ddd;
	padding: 15px;
}
.notification-ui_dd .notification-ui_dd-header h3 {
	margin-bottom: 0;
}
.notification-ui_dd .notification-ui_dd-content {
	max-height: 550px;
	overflow: auto;
}

.notification-list {
	display: flex;
	justify-content: space-between;
	padding: 20px 25px;
	border-bottom: 1px solid #ddd;
}
.notification-list--unread {
	position: relative;
	background: #f4f8fa;
}
.notification-list--unread:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% + 1px);
	border-left: 2px solid #007bff;
}
.notification-list .notification-list_img img {
	height: 42px;
	width: 42px;
	border-radius: 50px;
	margin-right: 20px;
}
.notification-list .notification-list_detail {
	margin-right: auto;
	max-width: 200px;
}
.notification-list .notification-list_detail p {
	margin-bottom: 5px;
	line-height: 1.2;
}
.notification-list .notification-list_detail .nt-link {
	border-left: 3px solid #007bff;
	line-height: 1.3;
	padding-left: 10px;
}

/* endnotification */


/* card dashboard */
.card1 {
  width: 100%;
  height: 190px;
  color: white;
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  overflow: visible;
  margin-top: 5px;
  
  /* margin-left: 20px; */
 }
 
 .card1 .item {
  /* border-radius: 10px; */
  border-radius: 10%;
  background: #fc8435ea;
  box-shadow:  19px 19px 38px #d37f31,
               -5px -5px 38px #cfcac6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 
 .item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
 }
 
 .item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
 }
 
 .item--1 {
  background: #ffffff;
 }
 
 .item--2 {
  background: #ffffff;
 }
 
 .item--3 {
  background: #ffffff;
 }
 
 .item--4 {
  background: #ffffff;
 }
 
 .quantity {
  font-size: 25px;
  font-weight: 600;
 }
 
 .text {
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
  color: #ffffff;
 }
 
 /* .text--1 {
  color: rgba(149,149,255,1);
 }
 
 .text--2 {
  color: rgba(252,161,71,1);
 } 
 
 .text--3 {
  color: rgba(66,193,110,1);
 }
 
 .text--4 {
  color: rgba(220,91,183,1);
 } */

/* end card dashboard */


/* Card -own-slider 2 */
/* Wedding Templates */
section.paket .card {
  max-height: 24rem;
  border: none;
  transition: 0.5s;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

section.paket .card .kategori {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 30px;
}

section.paket .card .kategori span {
  padding: 6.7px 15px 10px 15px;
  font-weight: bold;
  background-color: var(--warna1);
  border-radius: var(--lengkungO);
  color: var(--warna2);
  -webkit-border-radius: var(--lengkungO);
  -moz-border-radius: var(--lengkungO);
  -ms-border-radius: var(--lengkungO);
  -o-border-radius: var(--lengkungO);
}

section.paket .card .pemesanan {
  opacity: 0.5;
  right: 0;
  left: 0;
  bottom: 40%;
  transition: 0.5s;
}

section.paket .card .pemesanan:hover {
  right: 0;
  left: 0;
  bottom: 40%;
  opacity: 1;
  background-color: var(--warna1);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

section.paket .card .pemesanan a {
  font-weight: bold;
  margin: auto 0.3rem;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

section.paket .card .pemesanan a:nth-child(1) {
  background-color: var(--warna2);
  color: var(--warna1);
}

section.paket .card .pemesanan a:nth-child(2) {
  border: 1px solid var(--warna2);
  color: var(--warna2);
}

/* section.paket .card .pemesanan a:hover {
  color: var(--warna3);
  font-weight: bold;
  background-color: var(--warna2);
  border-radius: 9999px;
} */

section.paket .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

/* News */
/* Card Utama */
section.news h3 {
  margin-bottom: 1rem;
}

section.news .card-image-utama .card .card-title h6 {
  color: var(--warna1);
}

section.news .card-image-utama .card .card-title h5 {
  color: var(--warna6);
}

section.news .card-image-utama .card .card-title span {
  color: var(--warna5);
}

section.news .card-image-utama .card .card-text p {
  color: var(--warna3);
}

section.news .card-image-utama .card .card-body p.card-waktu {
  font-size: 0.85rem;
  color: #aaa;
}

/* Card Lists */
section.news .card-image-utama .card img {
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

section.news .card-image-lists .card {
  margin-bottom: 0.7rem;
  border: none;
}

section.news .card-image-lists .card .card-body .card-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--warna1);
}

section.news .card-image-lists .card .card-body p.card-text {
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: var(--warna3);
}

section.news .card-image-lists .card .card-body p.card-waktu {
  font-size: 0.7rem;
  color: #aaa;
}

section.news .card-image-lists .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  max-height: 10rem;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}
/* Card -own-slider 3 */

/* Videos */
section.video h3 {
  margin-bottom: 1rem;
}

section.video .card {
  border: 0;
  margin-bottom: 1rem;
}

section.video .card,
section.video iframe {
  height: 24rem;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}
/* End Videos */

/* Documentations */
section.photography .card {
  max-height: 24rem;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

section.photography .card .carousel-caption {
  padding-bottom: 0;
  font-size: 0.9rem;
  z-index: 1;
}

section.photography .card:before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    transparent 40%,
    rgba(0, 0, 0, 0.6)
  );
  display: block;
  position: absolute;
  top: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

section.photography .card .carousel-caption span.editor {
  background-color: var(--warna1);
  color: var(--warna2);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: var(--lengkungO);
  -webkit-border-radius: var(--lengkungO);
  -moz-border-radius: var(--lengkungO);
  -ms-border-radius: var(--lengkungO);
  -o-border-radius: var(--lengkungO);
}

section.photography .card img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100vh;
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

/* Media Breakpoints */
@media (max-width: 576px) {
  section.news .card-image-lists .card img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 15vh;
    min-width: 30vw;
  }

  .slider {
    margin-top: 1rem;
  }

  section.paket .card .pemesanan {
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    background-color: var(--warna1);
    border-bottom-left-radius: var(--lengkung);
    border-bottom-right-radius: var(--lengkung);
  }

  section.paket .card .pemesanan a {
    margin: auto 0.3rem;
    font-weight: bold;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
  }

  section.paket .card .pemesanan a:nth-child(1) {
    color: var(--warna1);
    background-color: var(--warna2);
  }

  section.paket .card .pemesanan a:nth-child(2) {
    border: 1px solid var(--warna2);
  }
}

@media (max-width: 768px) {
  .slider {
    margin-top: 4rem;
  }

  section.paket .card .pemesanan {
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    background-color: var(--warna1);
    border-bottom-left-radius: var(--lengkung);
    border-bottom-right-radius: var(--lengkung);
  }

  section.paket .card .pemesanan a {
    margin: auto 0.3rem;
    font-weight: bold;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
  }

  section.paket .card .pemesanan a:nth-child(1) {
    color: var(--warna1);
    background-color: var(--warna2);
  }

  section.paket .card .pemesanan a:nth-child(2) {
    border: 1px solid var(--warna2);
  }
}

@media (max-width: 992px) {
  .slider {
    margin-top: 1rem;
  }

  section.paket .card .pemesanan {
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    background-color: var(--warna1);
    border-bottom-left-radius: var(--lengkung);
    border-bottom-right-radius: var(--lengkung);
  }

  section.paket .card .pemesanan a {
    margin: auto 0.3rem;
    font-weight: bold;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
  }

  section.paket .card .pemesanan a:nth-child(1) {
    color: var(--warna1);
    background-color: var(--warna2);
  }

  section.paket .card .pemesanan a:nth-child(2) {
    border: 1px solid var(--warna2);
  }
}
